.mainFontSize{
	font-size: 16px;
}

.standardFontSize{
	font-size: 12px;
}

img{
	width: 32px;
	height: 32px;
}

img.mainImage{
	width: 50px;
	height: 50px;
}

.commentContainer{
	display: flex;
	flex-direction: column;
	width: 570px;
}

.commentMain{
	display: flex;
	flex-direction: column;
	height: 120px;
	outline: solid 1px grey;

}

.commentMain__top{

}

.commentAuthor{

}

.CommentAuthor__name{

}

.commentAuthor__likes{

}

.commentPostTime{

}

.commentMain__bottom{

}

.commentLinks{
	display: flex;
	height: 25px;
	outline: solid 1px grey;

}

.commentLikes{
	display: flex;
	height: 25px;
	outline: solid 1px grey;
}

.commentMessage{
	display: flex;
	height: 40px;
	outline: solid 1px grey;

}

.commentMessage__content{
	display: flex;

}

.commentMessage__authorName{

}

.commentMessage__comment{
	width: 100%;
}

.commentMessage__links{
	display: flex;
}

.commentResponse{
	display: flex;
	height: 40px;
	outline: solid 1px grey;

}

.commentResponse input{
	height: 20px;
	width: 500px;
}

.commentFooter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	outline: solid 1px grey;
}

.commentViews{

}

.commentBoost{

}