body{
	margin-top: 28px;
}

a {
	text-decoration: none;
}

a:visited {
	color: #3957A3;
}

#like1:hover {
	cursor: pointer;
}

#like2:hover {
	cursor: pointer;
}

.mainFontSize{
	font-size: 13px;
}
.background-blue {
	background-color: #EDEFF4;
	margin: 0.5px 3px;
}

.font-blue{
	color: #3957A3;
}

.font-grey{
	color: #9C9999;
}

.standardFontSize{
	font-size: 11px;
}

.downArrow{
	height: 8px;
	width: 8px;
	border: solid 1px #d9d9d9;
	padding: 4.5px;
}

.commentBoost__image{
	height: 10px;
	width: 10px;
	margin-left: 5px;
}

.commentImage{
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.mainImage{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.thumbImage{
	height: 14px;
	width: 14px;
	margin-right: 8px;
}

.glodeImage{
	height: 11px;
	width: 11px;
}

.dot{
	margin: 0 2px;
}

.commentContainer{
	font-family: "Lucida Grande";
	display: flex;
	flex-direction: column;
	width: 570px;
	border: solid 1px #CFD6E6;
	border-radius: 5px;
}

.commentMain{
	display: flex;
	flex-direction: column;
	height: 90px;
	padding: 14px 20px 14px 20px;
}

.commentMain__top{
	display: flex;
	flex-direction: row;
	padding-bottom: 11px;
}

.commentContent{
	display: flex;
	justify-content: center;
    flex-direction: column;
}

.commentAuthor{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.CommentAuthor__name{
	font-weight: bold;

}

.commentAuthor__likes{

}

.commentPostTime{

}

.commentMain__bottom{
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	border-top: solid 1px #ECECEC;
}

.commentLinks{
	display: flex;
	height: 14px;
	padding: 5px 12px;
}

.commentLikes{
	display: flex;
	height: 14px;
	padding: 5px 12px;
}

.commentMessage{
	display: flex;
	height: 28px;
	padding: 5px 12px 8px;
}

.commentMessage__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;

}

.commentMessage__top{
	display: flex;
	flex-direction: row;
	width: 100%;

}

.commentMessage__bottom{

}

.commentMessage__authorName{
	white-space: nowrap;
	font-weight: bold;
}

.commentMessage__comment{
	width: 100%;
	margin-left: 5px; 
}

.commentMessage__links{
	display: flex;
}

.commentResponse{
	display: flex;
	height: 28px;
	padding: 6px 12px;
}

.commentResponse input{
	height: 16px;
	width: 500px;
}

.commentFooter{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
    padding: 5px 15px 0;
}

.commentViews{

}

.commentBoost{

}

.dropDownIcon {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-end;
}